[Unit]
Description=Up Time App
After=network.target

[Service]
Type=simple
User=GeorgeB
WorkingDirectory={{uptimeAppDir}}
ExecStart=/usr/bin/python3 {{uptimeAppDir}}/app.py
Restart=always

[Install]
WantedBy=multi-user.target